node_modules/
.next/
.env*
*.log
.DS_Store
input/BEA/Statut /IMG_4281.HEIC
input/BEA/Statut /IMG_4282.HEIC
design-system/
__pycache__/
*.pyc
*.pyo
out/
tsconfig.tsbuildinfo
public/file.svg
public/globe.svg
public/next.svg
public/vercel.svg
public/window.svg
